.formBuilderForm {
    display: block;
    .form-label {
        width: 150px !important;
    }
    .form-label-left {
        width: 150px !important;
        float: left;
        display: inline-block;
        text-align: left;
        padding: 3px;
        white-space: normal;
    }
    .form-line {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .form-label-right {
        width: 150px !important;
    }
    .form-all {
        width: 100%;
        color: #555 !important;
        font-family: 'Lucida Grande';
        font-size: 14px;
    }
    .form-radio-item label, .form-checkbox-item label, .form-grading-label, .form-header {
        color: #555;
    }
}
